<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Template Mo" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <title>Demo | Melly</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/templatemo-art-factory.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/owl-carousel.css"
    />

    <!-- Import the webpage's javascript file -->
    <script defer src="/components/demo.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script
      defer
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"
    ></script>
    <script
      defer
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"
    ></script>

    <script defer src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script defer src="/assets/js/popper.js"></script>
    <script defer src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script defer src="/assets/js/owl-carousel.js"></script>
    <script defer src="/assets/js/scrollreveal.min.js"></script>
    <script defer src="/assets/js/waypoints.min.js"></script>
    <script defer src="/assets/js/jquery.counterup.min.js"></script>
    <script defer src="/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script defer src="/assets/js/custom.js"></script>
  </head>
  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/templates/index.html" class="logo">Melly</a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/templates/index.html">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#about">About</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/demo.html" class="active">Demo</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#services">Resources</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#contact-us">Contact Us</a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- <div
      class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
      data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
    > -->
      <div class = "context">
        <h1>View Our <strong>Demo</strong>!</h1>
        <p>
          This is a demo of a conversation between a patient and a doctor.
          Use this only as a basic reference for our site's capabilities.
          Once you're matched with a doctor, you will recieve true medical 
          advice and engage in a more helpful conversation! 
        </p>
      </div>
    <!-- </div> -->
    <div class="images_container">
      <video autoplay class="video" id="video1">
        <source
          src="/assets/videos/demoVideo1.mov"
          type="video/mp4"
        />
      </video>

      <video autoplay class="video" id="video2">
        <source
          src="/assets/videos/demoVideo2.mov"
          type="video/mp4"
        />
      </video>
    </div>
</html>
