<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Template Mo" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <title>Match |Melly</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/assets/css/patientSignUp.css" />
    <link rel="stylesheet" href="/assets/css/finesse_match.css" />
    <link rel="stylesheet" href="/assets/css/prSignUp.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/templatemo-art-factory.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/owl-carousel.css"
    />

    <!-- import the webpage's javascript file -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/components/patientSignUp.js" defer></script>
  </head>
  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/templates/index.html" class="logo">Melly</a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/templates/index.html" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#about">About</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#services">Resources</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#contact-us">Contact Us</a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="images_container">
      <video autoplay class="video">
        <source
          src="https://cdn.glitch.com/eb6e6852-d15d-4972-9a23-18fd43f55592%2Fvideo1.mov?v=1598213723677"
          type="video/mp4"
        />
      </video>

      <video autoplay class="video">
        <source
          src="https://cdn.glitch.com/eb6e6852-d15d-4972-9a23-18fd43f55592%2Fmelly_screen_recording_1.mov?v=1598213772179"
          type="video/mp4"
        />
      </video>
    </div>

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/scrollreveal.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/assets/js/custom.js"></script>
  </body>
</html>
