<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Template Mo" />
    <title>Waiting Room | Melly</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.jpg"
    />

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/firebase.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/templatemo-art-factory.css"
    />

    <!-- Scripts -->
    <script defer src="/__/firebase/7.13.1/firebase-app.js"></script>
    <script defer src="/__/firebase/7.13.1/firebase-firestore.js"></script>
    <script defer src="/__/firebase/init.js"></script>
    <script defer src="/components/firebase/app.js"></script>
    <script src="/components/navBar.js"></script>
    <script defer src="/assets/js/jquery-bundle.js"></script>
  </head>
  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <nav-bar></nav-bar>
    <!-- ***** Header Area End ***** -->

    <div id="page-div">
      <h1 class="match-header">Welcome to Melly!</h1>
      <div>
        <span id="current-room"></span>
      </div>
      <div id="videos">
        <video id="local-video" size="480px" muted autoplay playsinline></video>
        <video id="remote-video" autoplay playsinline></video>
      </div>
      <div id="buttons">
        <button
          class="main-button-slider mdc-button mdc-button--raised"
          id="camera-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >perm_camera_mic</i
          >
          <span class="mdc-button__label">Open camera & microphone</span>
        </button>
        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="create-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group_add</i
          >
          <span class="mdc-button__label">Create room</span>
        </button>
        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="match-me"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group_add</i
          >
          <span class="mdc-button__label">Match Me</span>
        </button>
        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="join-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group</i
          >
          <span class="mdc-button__label">Join room</span>
        </button>

        <button class="mdc-button mdc-button--raised" disabled id="hangup-btn">
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >close</i
          >
          <span class="mdc-button__label">Hangup</span>
        </button>
      </div>
    </div>
    <div
      class="mdc-dialog"
      id="room-dialog"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="my-dialog-title"
      aria-describedby="my-dialog-content"
    >
      <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
          <h2 class="mdc-dialog__title" id="my-dialog-title">Join room</h2>
          <div class="mdc-dialog__content" id="my-dialog-content">
            Enter ID for room to join:
            <div class="mdc-text-field">
              <input type="text" id="room-id" class="mdc-text-field__input" />
              <label class="mdc-floating-label" for="my-text-field"
                >Room ID</label
              >
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
          <footer class="mdc-dialog__actions">
            <button
              type="button"
              class="mdc-button mdc-dialog__button"
              data-mdc-dialog-action="no"
            >
              <span class="mdc-button__label">Cancel</span>
            </button>
            <button
              id="confirm-join-btn"
              type="button"
              class="mdc-button mdc-dialog__button"
              data-mdc-dialog-action="yes"
            >
              <span class="mdc-button__label">Join</span>
            </button>
          </footer>
        </div>
      </div>
      <div class="mdc-dialog__scrim"></div>
    </div>
  </body>
</html>
