<!-- Additional CSS Files -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/css/templatemo-art-factory.css"
/>
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/templates/index.html" class="logo scroll-to-section"
            >Melly</a
          >
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="/index.html#welcome">Home</a>
            </li>
            <li class="scroll-to-section">
              <a href="/index.html#about">About</a>
            </li>
            <li class="scroll-to-section">
              <a href="/index.html#services">Resources</a>
            </li>
            <li class="scroll-to-section">
              <a href="/templates/demo.html">Demo</a>
            </li>
            <li class="scroll-to-section">
              <a href="/index.html#contact-us">Contact Us</a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
