<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Steve Leke">
    <!-- import font style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Sign Up |Melly</title>
    <!-- icon for website tab -->
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"/>


    <!-- import the webpage's stylesheets -->
    <link rel="stylesheet" href="/assets/css/patientSignUp.css" />
    <link rel="stylesheet" href="/assets/css/prSignUp.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl-carousel.css">


    <!-- import the webpage's javascript file -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js" defer></script> 
    <script src="/components/patientSignUp.js" defer></script>

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js" defer></script>

    <!-- Bootstrap -->
    <script src="/assets/js/popper.js" defer></script>
    <script src="/assets/js/bootstrap.min.js" defer></script>
    
    <!-- Plugins -->
    <script src="/assets/js/owl-carousel.js" defer></script>
    <script src="/assets/js/scrollreveal.min.js" defer></script>
    <script src="/assets/js/waypoints.min.js" defer></script>
    <script src="/assets/js/jquery.counterup.min.js" defer></script>
    <script src="/assets/js/imgfix.min.js" defer></script> 
        
    <!-- Global Init -->
    <script src="/assets/js/custom.js" defer></script>
  </head>
  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Melly</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav"> <!-- // TODO(https://github.com/mellychat/webapp/issues/30): Nav bar is invisible when run -->
                            <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="index.html#about">About</a></li>
                            <li class="scroll-to-section"><a href="index.html#services">Resources</a></li>
                            <li class="scroll-to-section"><a href="index.html#contact-us">Contact Us</a></li>
                        </ul>
                        <!-- Hamburger menu for mobile and tablet devices  -->
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Form Start ***** -->
    <div class="form">
          <!-- ***** Patient Topic Selection Start ***** -->
          <h1 class="form-text">Which topic relates to your issue?</h1>
          <ul class="tab-group">
            <li class="tab active"><a href="#physical">Physical Health</a></li>
            <li class="tab"><a href="#mental">Mental Health</a></li>
            <li class="tab"><a href="#emotional">Emotional Health</a></li>
            <li class="tab"><a href="#talk">Spiritual Health</a></li>
          </ul>
          <!-- ***** Patient Topic Selection End ***** -->
          
          <!-- ***** Tab Content Start ***** -->
          <div class="tab-content">

            <!-- ***** Sign Up Area Start ***** -->
            <div>
              <h1 class="form-text">Fill The Form To Get Matched!</h1>
              <form id="sign-up-form" action="/templates/patWaitingRoom.html" method="post">
                <!-- ***** Top Row Start ***** -->
                <div class="top-row">
                  <!-- Input field for first name -->
                  <div class="field-wrap">
                    <label>First Name<span class="req">*</span> </label>
                    <input type="text" id="first-name" name="first-name" maxlength="15" autocomplete="off" required/>
                  </div>
                  <!-- Input field for last name -->
                  <div class="field-wrap">
                    <label>Last Name<span class="req">*</span> </label>
                    <input type="text" id="last-name" name="last-name" maxlength="15" autocomplete="off" required/>
                  </div>
                </div>
                <!-- ***** Top Row End ***** -->
                <!-- Input field for description of issue -->
                <div class="field-wrap">
                  <textarea
                    id="text-area"
                    name="paragraph-text"
                    placeholder="Please give a short description of your issue."
                    cols="50"
                    rows="10"
                    maxlength="300"
                    required></textarea>
                  <button type="submit" id="button" class="button button-block">
                    <span style="color:#fff;">Match Me!</span>
                  </button>
                </div>
              </form>
            </div>
            <!-- ***** Sign Up Area End ***** -->
            
          </div>
          <!-- ***** Tab Content End ***** -->
    </div>
    <!-- ***** Form End ***** -->
  </body>
</html>