<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Steve Leke">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Sign Up |Melly</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"/>


    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/public/assets/css/patientSignUp.css" />
    <link rel="stylesheet" href="/prSignUp.css" />
    <link rel="stylesheet" type="text/css" href="/temp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/temp/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/temp/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/temp/assets/css/owl-carousel.css">


    <!-- import the webpage's javascript file -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js" defer></script> 
    <script src="/scripts/patientSignUp.js" defer></script>
  </head>
  <body>
      <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
  <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Melly</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="index.html#about">About</a></li>
                            <li class="scroll-to-section"><a href="index.html#services">Resources</a></li>
                            <li class="scroll-to-section"><a href="index.html#contact-us">Contact Us</a></li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
  <form id="form">
    <div class="form">
      <div class="signup">
          <h1 class="formText">Which topic relates to your issue?</h1>
      <ul class="tab-group">
        <li class="tab active"><a href="#physical">Physical Health</a></li>
        <li class="tab"><a href="#mental">Mental Health</a></li>
        <li class="tab"><a href="#emotional">Emotional Health</a></li>
        <li class="tab"><a href="#talk">Spiritual Health</a></li>
<!--         <li class="tab"><a id="talk" href="#talk">Talk to Professional</a></li> -->
      </ul>

      <div class="tab-content">
        <div class="signup">
          <h1 class="formText">Fill The Form To Get Matched!</h1>

          <form action="/" method="post">
            <div class="top-row">
              <div class="field-wrap">
                   <label>First Name<span class="req">*</span> </label>
                <input type="text" name="firstName" id="firstName"  autocomplete="off" required/>
                
                
              </div>

              <div class="field-wrap">
                <label>Last Name<span class="req">*</span> </label>
                <input type="text" name="lastName"  id="lastName"  autocomplete="off" required/>
              </div>
            </div>

            <div class="field-wrap">
              <textarea
                id="textArea"
                name="paragraph_text"
                placeholder="Please give a short description of your issue."
                cols="50"
                rows="10"
                
              ></textarea>

              <button type="submit" id="button" class="button button-block" onclick ="formSubmit">
<!--                 onclick="formSubmit" -->
                <span style="color:#fff;">Match Me!</span>
              </button>
              <!--               <input
                type="text"
                placeholder="If you feel comfortable, please give a short description of what you're seeking help with."
              /> -->
            </div>

            <!--           <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div> -->
          </form>
        </div>

        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="/" method="post">
            <div class="field-wrap">
              <label> Email Address<span class="req">*</span> </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label> Password<span class="req">*</span> </label>
              <input type="password" required autocomplete="off" />
            </div>

            <p class="forgot"><a href="#">Forgot Password?</a></p>

            <button type="submit" class="button button-block">Log In</button>
          </form>
        </div>
      </div>
      <!-- tab-content -->
    </div>
    <!-- /form -->
    </div>
</form>
            <!-- jQuery -->
    <script src="/temp/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/temp/assets/js/popper.js"></script>
    <script src="/temp/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/temp/assets/js/owl-carousel.js"></script>
    <script src="/temp/assets/js/scrollreveal.min.js"></script>
    <script src="/temp/assets/js/waypoints.min.js"></script>
    <script src="/temp/assets/js/jquery.counterup.min.js"></script>
    <script src="/temp/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/temp/assets/js/custom.js"></script>
  </body>
</html>
