<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Sign Up |Melly</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"/>


    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/public/assets/css/prSignUp.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl-carousel.css">

    <!-- import the webpage's javascript file -->
    <script src="/public/components/prSignUp.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    
        <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
  <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/public/templates/index.html" class="logo">Melly</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/public/templates/index.html" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/public/templates/index.html#about">About</a></li>
                            <li class="scroll-to-section"><a href="/public/templates/index.html#services">Resources</a></li>
                            <li class="scroll-to-section"><a href="/public/templates/index.html#contact-us">Contact Us</a></li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
     <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1 id="signupText">Sign Up for Free</h1>

          <form id="signUp" action="/" method="post">
            <div class="top-row">
              <div class="field-wrap">
                <label> First Name<span class="req">*</span> </label>
                <input name="firstName" type="text"  autocomplete="off" required>
              </div>

              <div class="field-wrap">
                <label> Last Name<span class="req">*</span> </label>
                <input name="lastName" type="text" autocomplete="off" required>
              </div>
            </div>

            <div class="field-wrap">
              <label> Email Address<span class="req">*</span> </label>
              <input name="email" type="email" autocomplete="off" required>
            </div>

            <div class="field-wrap">
              <label> Password<span class="req">*</span> </label>
              <input name="password" type="password" autocomplete="off" required>
            </div>
            
            <div class="field-wrap">
              <label> Physical Address<span class="req">*</span> </label>
              <input name="address"  autocomplete="off" required>
            </div>
            
            <div class="field-wrap">
              <label> Phone Number<span class="req">*</span> </label>
              <input name="phoneNumber" type="tel"  autocomplete="off" required>
            </div>
            
            <div class="field-wrap">
<!--               <label for="file">Select a file:</label> -->
              <h2 id="fileText"> Upload a PDF containing photocopies of your resume, degrees, and medical licenses. <span class="req">*</span> </h2>
              <input type="file" id = "file" autocomplete="off"  name="filename" required>
            </div>


            <button  type="submit" class="button button-block">
              <a href="finesse_match.html" style= "color:#fff;">Get Started!</a>
            </button>
          </form>
        </div>

        <div id="login">
          <h1 id="welcomeBack">Welcome Back!</h1>

          <form action="/" method="post">
            <div class="field-wrap">
              <label> Email Address<span class="req">*</span> </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label> Password<span class="req">*</span> </label>
              <input type="password" required autocomplete="off" />
            </div>
            <p class="forgot"><a href="#">Forgot Password?</a></p>

               <button  type="submit" class="button button-block">
              <a href="https://hackathonv4.glitch.me/FirebaseRTC/public/prWaitingRoom.html" style= "color:#fff;">Log In!</a>
            </button>
          </form>
        </div>
      </div>
      <!-- tab-content -->
    </div>
    <!-- /form -->
        <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/assets/js/owl-carousel.js"></script>
    <script src="/assets/js/scrollreveal.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/assets/js/custom.js"></script>
  </body>
</html>