<!DOCTYPE html>
<!--Don't change this file's name-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Template Mo" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!--     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
    <title>Waiting Room | Melly</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn.glitch.com/aa3eaa29-7183-4f33-b4e2-c3a30c833a25%2F31540120.jpg?v=1598133005255"
    />

    <!--     Firebase Web RTC  -->
    <script
      defer
      src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"
    ></script>
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.13.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.13.1/firebase-firestore.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/prWaitingRoom.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/templatemo-art-factory.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/owl-carousel.css"
    />

    <!-- Scripts -->

    <script defer src="/components/firebase.js"></script>
    <!-- jQuery -->
    <script defer src="/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script defer src="/assets/js/popper.js"></script>
    <script defer src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script defer src="/assets/js/owl-carousel.js"></script>
    <script defer src="/assets/js/scrollreveal.min.js"></script>
    <script defer src="/assets/js/waypoints.min.js"></script>
    <script defer src="/assets/js/jquery.counterup.min.js"></script>
    <script defer src="/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script defer src="/assets/js/custom.js"></script>
  </head>
  <body>
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="/templates/index.html" class="logo">Melly</a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/templates/index.html" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#about">About</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/demo.html">Demo</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#services">Resources</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/templates/index.html#contact-us">Contact Us</a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>

    <h1 id="title">Read Patient Notes, then Join The Meeting!</h1>
    <div id="page-div">
      <div id="pr-main">
        <h1 class="heading">
          Join To Meet:
          <p class="patient-info" id="patient-name">
            <span>John Doe</span>
          </p>
        </h1>

        <h1 class="heading">
          Issue:
          <p class="patient-info" id="issue-name">Physical Health</p>
        </h1>

        <h1 class="heading">
          Description:
          <p class="patient-info" id="description">
            I've been experiencing extreme fatigue lately :(
          </p>
        </h1>
      </div>
      <!--   <div>
      <span id="current-room"></span>
  </div> -->
      <div id="videos">
        <video id="local-video" muted autoplay playsinline></video>
        <video hidden id="remote-video" autoplay playsinline></video>
        <button
          class="main-button-slider mdc-button mdc-button--raised"
          id="camera-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >perm_camera_mic</i
          >
          <span class="mdc-button__label">Open camera & microphone</span>
        </button>
        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="create-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group_add</i
          >
          <span class="mdc-button__label">Create room</span>
        </button>
        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="match-me"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group_add</i
          >
          <span class="mdc-button__label">Match Me</span>
        </button>
        <button class="mdc-button mdc-button--raised" disabled id="join-btn">
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >group</i
          >
          <span class="mdc-button__label">Join room</span>
        </button>

        <button
          hidden
          class="mdc-button mdc-button--raised"
          disabled
          id="hangup-btn"
        >
          <i class="material-icons mdc-button__icon" aria-hidden="true"
            >close</i
          >
          <span class="mdc-button__label">Hangup</span>
        </button>
        <!--       <button class="main-button-slider mdc-button mdc-button--raised"  id="cameraBtn">
          <i class="material-icons mdc-button__icon" aria-hidden="true">perm_camera_mic</i>
          <span class="mdc-button__label">Open camera & microphone</span>
      </button>
      <button class="mdc-button mdc-button--raised" disabled id="joinBtn">
          <i class="material-icons mdc-button__icon" aria-hidden="true">group</i>
          <span class="mdc-button__label">Join room</span>
      </button> -->
      </div>
    </div>

    <div
      class="mdc-dialog"
      id="room-dialog"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="my-dialog-title"
      aria-describedby="my-dialog-content"
    >
      <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
          <h2 class="mdc-dialog__title" id="my-dialog-title">Join room</h2>
          <div class="mdc-dialog__content" id="my-dialog-content">
            Enter ID for room to join:
            <div class="mdc-text-field">
              <input type="text" id="room-id" class="mdc-text-field__input" />
              <label class="mdc-floating-label" for="my-text-field"
                >Room ID</label
              >
              <div class="mdc-line-ripple"></div>
            </div>
          </div>
          <footer class="mdc-dialog__actions">
            <button
              type="button"
              class="mdc-button mdc-dialog__button"
              data-mdc-dialog-action="no"
            >
              <span class="mdc-button__label">Cancel</span>
            </button>
            <button
              id="confirm-join-btn"
              type="button"
              class="mdc-button mdc-dialog__button"
              data-mdc-dialog-action="yes"
            >
              <span class="mdc-button__label">Join</span>
            </button>
          </footer>
        </div>
      </div>
      <div class="mdc-dialog__scrim"></div>
    </div>
  </body>
</html>
