<!DOCTYPE html>
<!--Don't change this file's name-->
<html>

    <script
      defer
      src="https://kit.fontawesome.com/55c645bbbf.js"
      crossorigin="anonymous"
    ></script>
    <!-- Loads All Necessary CSS Pages -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/templatemo-art-factory.css"
    />
    <link rel="stylesheet" href="starability-all.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reviewPage.css" />

    <!-- Plugins -->
    <script src="/components/navBar.js"></script>
    <script defer src="/assets/js/jquery-bundle.js"></script>
  </head>
  <body>
    <!-- ***** Preloader Start (The Loading Animation w/ Blue Background)***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <nav-bar></nav-bar>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Form Starts ***** -->
    <div id="page-div">
      <form>
        <!-- ***** Text / First Set of 5 stars (Start) ***** -->
        <div id="call">
          <h1>How did you enjoy the call?</h1>
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label
              class="full"
              for="star5"
              title="Awesome - 5 stars"
            ></label>
            <input
              type="radio"
              id="star4half"
              name="rating"
              value="4 and a half"
            /><label
              class="half"
              for="star4half"
              title="Pretty good - 4.5 stars"
            ></label>
            <input type="radio" id="star4" name="rating" value="4" /><label
              class="full"
              for="star4"
              title="Pretty good - 4 stars"
            ></label>
            <input
              type="radio"
              id="star3half"
              name="rating"
              value="3 and a half"
            /><label
              class="half"
              for="star3half"
              title="Meh - 3.5 stars"
            ></label>
            <input type="radio" id="star3" name="rating" value="3" /><label
              class="full"
              for="star3"
              title="Meh - 3 stars"
            ></label>
            <input
              type="radio"
              id="star2half"
              name="rating"
              value="2 and a half"
            /><label
              class="half"
              for="star2half"
              title="Kinda bad - 2.5 stars"
            ></label>
            <input type="radio" id="star2" name="rating" value="2" /><label
              class="full"
              for="star2"
              title="Kinda bad - 2 stars"
            ></label>
            <input
              type="radio"
              id="star1half"
              name="rating"
              value="1 and a half"
            /><label
              class="half"
              for="star1half"
              title="Meh - 1.5 stars"
            ></label>
            <input type="radio" id="star1" name="rating" value="1" /><label
              class="full"
              for="star1"
              title="Sucks big time - 1 star"
            ></label>
            <input
              type="radio"
              id="starhalf"
              name="rating"
              value="half"
            /><label
              class="half"
              for="starhalf"
              title="Sucks big time - 0.5 stars"
            ></label>
          </fieldset>
        </div>
        <!-- ***** Text / First Set of 5 stars (End) ***** -->
        <!-- ***** Text / Second Set of 5 stars (Start) ***** -->
        <div id="pr">
          <h1>How did you enjoy your practitioner?</h1>
          <fieldset class="rating2">
            <input type="radio" id="2star5" name="rating2" value="5" /><label
              class="full"
              for="2star5"
              title="Awesome - 5 stars"
            ></label>
            <input
              type="radio"
              id="2star4half"
              name="rating2"
              value="4 and a half"
            /><label
              class="half"
              for="2star4half"
              title="Pretty good - 4.5 stars"
            ></label>
            <input type="radio" id="2star4" name="rating2" value="4" /><label
              class="full"
              for="2star4"
              title="Pretty good - 4 stars"
            ></label>
            <input
              type="radio"
              id="2star3half"
              name="rating2"
              value="3 and a half"
            /><label
              class="half"
              for="2star3half"
              title="Meh - 3.5 stars"
            ></label>
            <input type="radio" id="2star3" name="rating2" value="3" /><label
              class="full"
              for="2star3"
              title="Meh - 3 stars"
            ></label>
            <input
              type="radio"
              id="2star2half"
              name="rating2"
              value="2 and a half"
            /><label
              class="half"
              for="2star2half"
              title="Kinda bad - 2.5 stars"
            ></label>
            <input type="radio" id="2star2" name="rating2" value="2" /><label
              class="full"
              for="2star2"
              title="Kinda bad - 2 stars"
            ></label>
            <input
              type="radio"
              id="2star1half"
              name="rating2"
              value="1 and a half"
            /><label
              class="half"
              for="2star1half"
              title="Meh - 1.5 stars"
            ></label>
            <input type="radio" id="2star1" name="rating2" value="1" /><label
              class="full"
              for="2star1"
              title="Sucks big time - 1 star"
            ></label>
            <input
              type="radio"
              id="2starhalf"
              name="rating2"
              value="half"
            /><label
              class="half"
              for="2starhalf"
              title="Sucks big time - 0.5 stars"
            ></label>
          </fieldset>
        </div>
        <!-- ***** Text / Second Set of 5 stars (End) ***** -->
        <!-- ***** Code For The Return Home Button Start 
          (OnClick Funtion Doesn't Work Yet) ***** -->
        <button
          id="create-room"
          class="stage-btn"
          onclick="location.href='/templates/index.html'"
        >
          Return Home
        </button>
        <!-- ***** Code For The Return Home Button End ***** -->
      </form>
      <!-- ***** Form Ends ***** -->
    </div>
  </header>
  <!-- ***** Form Starts ***** -->
  <div id="page-div">
    <form>
      <!-- ***** Text / First Set of 5 stars (Start) ***** -->
      <div id="call">
        <h1>How did you enjoy the call?</h1>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
            title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"
            title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
            title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"
            title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
            title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"
            title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
            title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"
            title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
            title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
            title="Sucks big time - 0.5 stars"></label>
        </fieldset>
      </div>
      <!-- ***** Text / First Set of 5 stars (End) ***** -->
      <!-- ***** Text / Second Set of 5 stars (Start) ***** -->
      <div id="pr">
        <h1>How did you enjoy your practitioner?</h1>
        <fieldset class="rating2">
          <input type="radio" id="2star5" name="rating2" value="5" /><label class="full" for="2star5"
            title="Awesome - 5 stars"></label>
          <input type="radio" id="2star4half" name="rating2" value="4 and a half" /><label class="half" for="2star4half"
            title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="2star4" name="rating2" value="4" /><label class="full" for="2star4"
            title="Pretty good - 4 stars"></label>
          <input type="radio" id="2star3half" name="rating2" value="3 and a half" /><label class="half" for="2star3half"
            title="Meh - 3.5 stars"></label>
          <input type="radio" id="2star3" name="rating2" value="3" /><label class="full" for="2star3"
            title="Meh - 3 stars"></label>
          <input type="radio" id="2star2half" name="rating2" value="2 and a half" /><label class="half" for="2star2half"
            title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="2star2" name="rating2" value="2" /><label class="full" for="2star2"
            title="Kinda bad - 2 stars"></label>
          <input type="radio" id="2star1half" name="rating2" value="1 and a half" /><label class="half" for="2star1half"
            title="Meh - 1.5 stars"></label>
          <input type="radio" id="2star1" name="rating2" value="1" /><label class="full" for="2star1"
            title="Sucks big time - 1 star"></label>
          <input type="radio" id="2starhalf" name="rating2" value="half" /><label class="half" for="2starhalf"
            title="Sucks big time - 0.5 stars"></label>
        </fieldset>
      </div>
      <!-- ***** Text / Second Set of 5 stars (End) ***** -->
      <!-- ***** Code For The Return Home Button Start 
          (OnClick Funtion Doesn't Work Yet) ***** -->
      <button id="create-room" class="stage-btn" onclick="location.href='/templates/index.html'">
        Return Home
      </button>
      <!-- ***** Code For The Return Home Button End ***** -->
    </form>
    <!-- ***** Form Ends ***** -->
  </div>
</body>

</html>