.float-right {
  float: right;
}
@import "compass/css3";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  background: #04c1de;
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
  color: #04c1de; ! important
  transition: 0.5s ease;
}
a:hover {
  color: #03AFC8; ! important
}
.form {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 150px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #03AFC8;
  color: #fff;
}
.tab-group .active a {
  background: #04c1de;
  color: #fff;
}
.tab-content > #login {
  display: none;
}
h1 {
  text-align: center;
  color: #04c1de;
  font-weight: 300;
  margin: 0 0 40px;
}
#signup-text{
  color: #04c1de;
  margin-bottom: 30px; ! important
}
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #c1bdba;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 14px;
}
label .req {
  margin: 2px;
  color: #04c1de;
}
label.active {
  transform: translateY(30px); ! important 
  transform: translateX(-10px);
  left: 0px;! important
  font-size: 14px;! important
  color: #04c1de; ! important
}
label.active .req {
  opacity: 0;
}
label.highlight {
  color: #04c1de; ! important
}
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%; ! important
  height: 175px; ! important
  padding: 5px 10px; ! important
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: #04c1de;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #04c1de;
  color: #fff; ! important
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover,
.button:focus {
  background: #03AFC8;
}
.button-block {
  display: block;
  width: 100%;
}
.forgot {
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: right;
  color:#04c1de; ! important
}
#file-text {
  font-size: 12px;
  color: #c1bdba;
}
#file-text .req {
  color: #04c1de;
}
#welcome-back {
  margin-top: 25px;
  margin-bottom: 25px;
}
