name: Build and Deploy to Firebase Hosting (Nightly)
on:
  schedule:
      # * is a special character in YAML so you have to quote this string
      # - cron:  '0 23 * * *' # Nightly at 11pm kick off a deploy to hosting.
      - cron:  '0/5 * * * *' # Run every 5m for testing. 
      
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          token: ${{ secrets.READ_ONLY_GITHUB_TOKEN }}
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting -P nightly
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
