name: "Nag PR when PR is Stale 3 days"
on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.REPO_OWNER_GITHUB_TOKEN }}
        skip-stale-issue-message: true
        # We don't want to auto-close PRs but we do want to nag the author.
        days-before-stale: 3
        days-before-close: 365
        remove-stale-when-updated: true
        stale-pr-message: 'Friendly ping. Either a review is pending or changes are requested'
        stale-pr-label: 'no-pr-activity'